// Mixins in here
.custom-layout(@justify, @align){
	display: flex;
	justify-content: @justify;
	align-items: @align;
}
.customMainMargin(){
	max-width:800px;
	width:100%;
	margin-left:@mainMarginLeft;
}